{% extends "base.html" %}
{% block content %}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Data Barang</h4>
        <div class="ms-auto text-end">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Data Barang
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="navbar-nav float-start me-auto">
              <h5 class="card-title mb-0">Data Barang</h5>
            </div>
            <div class="navbar-nav float-end">
              <a href="{{ url_for('tambah') }}" class="btn btn-sm btn-primary">
                <i class="me-2 mdi mdi-plus"></i> Tambah Data
              </a>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>No.</th>
                <th>Nama Barang</th>
                <th>Stok</th>
                <th>Harga</th>
                <th width="25%" colspan="2" style="text-align:center">Aksi</th>
              </tr>
            </thead>
            <tbody>
              {% for row in container %}
              <tr>
                 <td>{{ loop.index }}</td>
                 <td>{{ row[1] }}</td>
                 <td>{{ row[3] }}</td>
                 <td class="harga">{{ row[2] }}</td>
                 <td>
                   <a href="{{ url_for('edit', id_barang=row[0]) }}" class="btn btn-sm btn-warning" role="button">
                     <i class="me-2 mdi mdi-lead-pencil"></i> Ubah
                   </a>
                 </td>
                 <td>
                   <a href="{{ url_for('hapus', id_barang=row[0]) }}" class="hapus btn btn-sm btn-danger" role="button">
                     <i class="me-2 mdi mdi-delete"></i> Hapus
                   </a>
                 </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer text-center">
    All Rights Reserved by Matrix-admin. Designed and Developed by
    <a href="https://www.wrappixel.com">WrapPixel</a>.
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
{% endblock %}

{% block extrascript %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
$('.hapus').click(function(){
  event.preventDefault()
  let url = $(this).attr('href')
  console.log(url);
  const swalWithBootstrapButtons = Swal.mixin({
    customClass: {
      confirmButton: 'btn btn-md btn-success m-2 py-2 px-4',
      cancelButton: 'btn btn-md btn-danger m-2 py-2 px-4'
    },
    buttonsStyling: false
  })

  swalWithBootstrapButtons.fire({
    title: 'Apakah anda ingin menghapus data?',
    text: "Data yang telah dihapus tidak dapat dikembalikan!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Ya!',
    cancelButtonText: 'Batal',
    reverseButtons: true
  }).then((result) => {
    if (result.isConfirmed) {
      swalWithBootstrapButtons.fire(
        'Dihapus!',
        'Data anda telah dihapus!',
        'success'
      )
      window.location = url
    }
    return false;
  })
});

$('.harga').text(function() {
  return number_format($(this).text())
});

function number_format(num) {
  num = num.replace(/[^0-9.]/g, '');
  var str = num.toString().replace("", ""),
      parts = false,
      output = [],
      i = 1,
      formatted = null;
  if (str.indexOf(".") > 0) {
      parts = str.split(".");
      str = parts[0];
  }
  str = str.split("").reverse();
  for (var j = 0, len = str.length; j < len; j++) {
      if (str[j] != ",") {
          output.push(str[j]);
          if (i % 3 == 0 && j < (len - 1)) {
              output.push(",");
          }
          i++;
      }
  }
  formatted = output.reverse().join("");
  // return("" + formatted + ((parts) ? "." + parts[1].substr(0, 2) : ""));
  return ("" + formatted + "");
};
</script>
{% endblock %}
